@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

.message-info {
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translateX(-50%);
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.header {
  height: 70px;
}

.nav-logo {
  width: 150px;
  height: 40px;
}

.main-container {
  height: calc(100vh - 70px);
}
