@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

.upload-form-status-container button {
  top: -3px !important;
}

.center-vertically-block {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.header {
  height: 70px;
}

.nav-logo {
  width: 150px;
  height: 40px;
}

.main-container {
  height: calc(100vh - 70px);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default-important {
  cursor: default !important;
}

.modal-pagination .page-link {
  border-radius: 0 !important;
}

.test-patient-form,
.test-patient-info-alert-container {
  width: 400px;
  max-width: 100%;
}

.phone-label {
  position: absolute;
  margin-top: 7px;
  margin-left: 10px;
}

.phone-error-label {
  color: red;
}

.phone-input {
  padding-left: 35px;
}

.phone-input-error {
  border: 1px solid red;

  &:focus,
  &:hover {
    box-shadow: 0 0 0 0.1rem red;
    border-color: red;
  }
}
